body{
    margin: 0;
}

h1{margin: 0;

}
h2{
    margin: 0;
}

div{
    margin: 0;
}

.Profile_Image{
    border: 2px;
    border-radius: 100vw;
    margin: 0;
}

.Text_Container{
    margin: 0;
    background-color: rgba( 0 , 0 , 0 , 0.85);
    border: 2px;
    border-radius: 20px;
}

.Text_Button{
    margin: 0;
    font-size: 2vw;
    color: white;
}

.Container{
    width: 100%;
    height: 7vw;
    background-color: rgba( 0 , 0 , 0 , 0.85);
    display: flex;
    justify-content:space-between;
    align-items: center;

}

#Header{
    color: white;
    font-size: 3vw;


}

.button-group{
    display: flex;
    gap: 10px;    
}


.Button{
    border-radius: 5px;
    border: 2px solid white;
    height: 2.5vw;
    width: 9vw;
    align-items: auto();
}

.Button:hover{
    cursor: pointer;
}

#About_Me_Container{
    background-color: transparent   ;
    position: absolute;
    top: 7vw;
    flex-direction: column;
    height: 40vw;


}

#About_Me{
    color: rgba( 0 , 0 , 0 , 0.85);
    font-size: 5vw;
    font:lighter;


}

#Profile_Image{
    height: 20vw;
    width: auto;
}

#About_Me_Text_Container{
    height: 14vw;
    width: 55vw;
    display: flex;
    justify-content: center;
}

.Paragraph{
    font-size: 1.5vw;
    color: white;
    font: bold;

}

#Work_Container{
    position: absolute;
    top: 50vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    background-color: transparent;
    gap: 5px;
}

.Video_PlaceHolder{
    margin: 0;
    height: 25vw;
    width: 32vw     ;
    background-color: rgba( 0 , 0 , 0 , 0.85);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px    ;
    
}


#Work_Text{
    margin: 0;
    position: absolute;
    top: 2vw;
    font-size: 5vw; 
    
}

.Video{
    height: 13vw;
}

#Skills_Container{
    position: absolute;
    display: flex;
    top: 100vw;

    justify-content: space-around;
    
}

#Header_Last{
    color: white;
    font-size: 4vw;
}



/* Tablet */
@media (max-width: 768px){
    .Container{
        
        height: 15vw;
        justify-content: space-around;
        
    }

    #Header{
        font-size: 5vw;
    }

    .Button{
        height: 3.5vw;
        width: 12vw;
        
    }
    
    .Text_Button{
        font-size: 20px;

    }

    .button-group{
        width: auto;
        gap: 5px;

    }

    #About_Me_Container{
        top: 15vw;
        height: 60vw;
        
    }

    #About_Me{
    font-size: 7vw;
    font:lighter;


    }

    #Profile_Image{
        height: 30vw;
        width: auto;
    }   

    #About_Me_Text_Container{
        height: 20vw;
        width: 70vw;
        justify-content: center;
    }

    .Paragraph{
        font-size: 2vw ;

    }

    #Work_Container{
        top: 75vw;
    }

    .Video_PlaceHolder{
        height: 40vw;
        width: 32vw;
    }

    #Work_Text{
    font-size: 5vw;
    }

    .Video{
    height: 20vw;
    }
}


/* mobile*/
@media (max-width: 480px){
    .Container{
        
        height: 15vw;
        justify-content: space-around;
        
    }

    #Header{
        font-size: 7vw;
    }

    .Button{
        height: 3.5vw;
        width: 15vw;
        
    }
    
    .Text_Button{
        font-size: 3.2vw;

    }

    .button-group{
        width: auto;
        gap: 5px;

    }

    #About_Me_Container{
        top: 15vw;
        height: 100vw;
        
    }

    #About_Me{
    font-size: 10vw;
    font:lighter;


    }

    #Profile_Image{
        height: 50vw;
        width: auto;
    }   

    #About_Me_Text_Container{
        height: 20vw;
        width: 90vw;
        justify-content: center;
    }

    .Paragraph{
        font-size: 2.5vw ;

    }

    #Work_Container{
        top: 116vw;
        flex-direction: column;
        height: 130vw;
    }

    .Video_PlaceHolder{
        height: 30vw;
        width: 80vw;
        flex-direction: row;
        gap: 5px;
    }

    #Work_Text{
    position: absolute;
    top: -4vw;
    font-size: 7vw;
    }

    .Video{
    height: 25vw;
    
    }
}


/**/
@media (max-width: 1024px) { 
    .Container{
        
        height: 15vw;
        justify-content: space-around;
        
    }

    #Header{
        font-size: 7vw;
    }

    .Button{
        height: 3.5vw;
        width: 15vw;
        
    }
    
    .Text_Button{
        font-size: 3.2vw;

    }

    .button-group{
        width: auto;
        gap: 5px;

    }

    #About_Me_Container{
        top: 15vw;
        height: 100vw;
        
    }

    #About_Me{
    font-size: 10vw;
    font:lighter;


    }

    #Profile_Image{
        height: 50vw;
        width: auto;
    }   

    #About_Me_Text_Container{
        height: 20vw;
        width: 90vw;
        justify-content: center;
    }

    .Paragraph{
        font-size: 2.5vw ;

    }

    #Work_Container{
        top: 116vw;
        flex-direction: column;
        height: 130vw;
    }

    .Video_PlaceHolder{
        height: 30vw;
        width: 80vw;
        flex-direction: row;
        gap: 5px;
    }

    #Work_Text{
    position: absolute;
    top: -4vw;
    font-size: 7vw;
    }

    .Video{
    height: 25vw;
    
    }


    #Skills_Container{
    top: 230vw;

    
    }

}
