
#Square{
    position: absolute;
    background-color: rgba(218, 91, 0, 0.8);
    top: -1vw;
    left: 0.1px;



    width: 100%;
    height: 7vw;
}

#Header{
    position: absolute;
    color: rgba(255, 255, 255, 0.866);
    font-size: 3vw;
    top: -1vw;
    margin-left: 39%;

}

#Restaurant_Date{
    color: rgba(255, 255, 255, 0.866);
    position: absolute;
    font-size: 2vw;
    top: 2vw;
    margin-left: 47%;
}

p{
    color: rgb(0, 0, 0);
    font-size: 1.5vw;

}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*placeholder*/ 

#Appetizer_PlaceHolder{
    position: absolute;
    top: 6vw;
    left: 0.1px;



    width: 100%;
    height: 30vw;
}

#Header_Appetizer{
    position: absolute;
    font-size: 2vw;
    
    left: 20vw;
    top: 3vw;
}

#Highlight_Appetizer{
   
    
    top: 7vw;
    left: 20vw;
}

.Highlight{
    position: absolute;
    background-color: rgba(218, 91, 0, 0.8);
    width: 8.5vw;
    height: 0.3vw;
}

#HighlightEnder_Appetizer{
    top: 26vw;
    left: 20vw; 
}

#Appetizer_Menu{
    position: absolute;

    width: 20vw;
    height: 20vw;

    left: 20vw;
    top: 6vw;

}


.fade-in {
  opacity: 0;
  transform: translateY(50px); 
  animation: fadeInUp 1s forwards; 
  animation-delay: 0.5s; 
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#Main_Course_Menu{
    position: absolute;
    width: 100vw;
    height: 30vw;


    left: -0.1vw;
    top: 30vw;
}       

#Main_Course_PlaceHolder{
    position: absolute;
    font-size: 2vw;


    left: 20vw;
    top: 2vw;
}

#Main_Course_Highlight{
    top: 6vw;
    left: 20vw;
    
    width: 10.5vw;
}

/*text*/

h2{
   font-size: 0.8vw;

}

/*Price*/

#Onion_Ring_Price{
    position: absolute;
    top: -0.1vw;
    left: 50vw;
}

/*Description*/

#Onion_Ring_Description{
    color: rgba(0, 0, 0, 0.8);
    position:absolute ;
    width: 70vw;
    

    top: 2.5vw;
}

/*Spacing Config*/
.Spacing{
    position: absolute;
    background-color : rgba(0, 0, 0, 0.8);
    width: 50vw ;
    height: 0.1vw;
    

}

#Onion_Ring_Seperator{
    top: 5vw;
}